@charset "UTF-8";

* { margin: 0; padding: 0; border: 0; }

#body {
	color: #000000;
	background: #7F8288;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 14px;
}

#header {
	background-image: url("../images/green.jpg");
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: white;
}

.container {
	color: black;
	background-color:#CAD3D2;
	padding:10px;
	margin-left:300px;
	margin-right: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid #042117;
}

.titlep {
	font-weight: 900;
	font-size: 20px;
	margin: 5px;
}

#footer {
font-size: 12px;
}

#text {
	text-align: left;
}